.row i {
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding-top: 15px;
}

.row {
    text-align: center;
}

.types li{
    list-style: none;
    /* float: left; */
    display: inline-block;
}